{% extends 'base.html.twig' %}

{% block title %}Denrée{% endblock %}

{% block body %}
<ul>
   {% for ticket in tickets %}
       <li><a href="{{ path('myTicket', {"userId" : ticket.user.id,"idTicket" : ticket.id}) }}">  {{  ticket.depotdate  }}  </a> </li>
   {% endfor %}
    </ul>



{% endblock %}
