{% extends 'base.html.twig' %}

{% block title %}Denrée{% endblock %}

{% block body %}
<ul>
   {% for ticket in tickets %}
        <a href="{{ path('myTicket', {"userId" : ticket.user.id,"idTicket" : ticket.id}) }}"><li>  {{  ticket.depotdate  }}   </li></a>
   {% endfor %}
    </ul>



{% endblock %}
